<!DOCTYPE html>
<html ng-app="MyApp">
<head>
<meta charset="ISO-8859-1">
<title>Equipamentos</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script src="js/equipamento.js"></script>
<link href="css/estilo.css" rel="stylesheet">
</head>
<body>
	<h1>Equipamentos</h1>
<body ng-controller="myCtrl">

	<form name="form">
		<div class="panel-body">
			<div class="task">
				<table class="add-task">
					<tr>
						<td>Descrição:</td>
						<td><input type="text" ng-model="taskDesc" /></td>
					</tr>
					<tr>
						<td>Status:</td>
						<td><input type="text" ng-model="taskName" /></td>
					</tr>
					<tr>
						<td colspan="2">
							<button ng-click="addTask()" class="btn-panel-big">Salvar</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</form>
	</br>
	<table>
		<tr>
			<td>ID</td>
			<td>Descrição</td>
			<td>Status</td>
			<td>Opções</td>
		</tr>
		<tr ng-repeat="x in myWelcome | orderBy : 'descricao'">
			<td>{{ x.id }}</td>
			<td>{{ x.descricao }}</td>
			<td>{{ x.status }}</td>
			<td data-title="'Actions'">
            <a href="#" ng-click="editFeed(row) ">Edit</a>
            <a href="#" ng-click="removeEmployee(x.id)">Delete</a>
        </td>
		</tr>
	</table>
</body>


</html>